
<!--
<img
id="logo"
src="https://cdn.discordapp.com/attachments/1276469335539449866/1276469352769654855/file-xScxg3PVlNJWtf5r6UcqO6Kk.png?ex=66cc4739&is=66caf5b9&hm=659930dbc4727bfde830080b70c1fa38d23667afdf9df7e3f4fb9940be3e9fbf&"
width="500px"
height="500px"
background-position = "center"
>
-->


<div class="hero-image" >
    <div class="hero-image-text">
        <h1 class ="hero-header-1">Lad bølgerne bære dig</h1>
        <h2 class="hero-header-2">Vi klarer resten</h2>
    </div>
</div>
