@model List<Product>;

<h1>
    Oversigt over boads
</h1>

<!-- BOARD Container -->
<div class="boardoversigt">

    @foreach (var board in Model)
    {
        <div class="boardbox" id="board1">
            <h4>@board.Name</h4>
            <img src="@board.ImagePath">
            <a asp-controller="rental" asp-action="board" asp-route-id="@board.ProductId">
                <button class="booking">Lej board</button>
            </a>
        </div>
    }

</div>