@model List<Product>;

<h1>
    Oversigt over boads
</h1>

<!-- BOARD Container -->
<div class="boardoversigt">

    @foreach (var board in Model)
    {
        <div class="boardbox" id="board-@board.ProductId">
            <a asp-controller="rental" asp-action="board" asp-route-id="@board.ProductId">
                <h3>@board.Name</h3>
                <img src="@board.ImagePath">
                <span>@board.Price kr.</span>
            </a>
            <button class="add-to-basket-button">Læg i kurv</button>
        </div>
    }

</div>