<h1>
    Her kan du udleje våddragter JaDetGodtDuHej
</h1>

<!-- Våddragt container -->
<div class="wetoversigt">
    <div class="wetbox" id="wet1">
        <h4>Første våddragt</h4>
        <button class="booking">Lej våddragt</button>
    </div>

</div>
<a href="../index.html"> her kommer du retur</a>