@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 

<nav class="nav-top">
    <div class="header-container">
        <div class="img-container">
            <img id="logo" src="images/image-logo.png">
            <img id="logo-text" src="images/image-logo-text.png">
        </div>

        <ul id="menu" class="dropdown">
            <li>Hjem
                <ul class="submenu">
                    <li><a asp-controller="home" asp-action="index">Forside</a></li>
                </ul>
            </li>
            <li>Udlejning
                <ul class="submenu">
                    <li><a asp-controller="rental" asp-action="boards">Boards</a></li>
                    <li><a asp-controller="rental" asp-action="wetsuit">Våddragt</a></li>
                    <li><a asp-controller="rental" asp-action="equipment">Udstyr</a></li>
                    <li>Undervisning - IKKE NØDVENDIG ENDNU</li>
                </ul>
            </li>
            <li>Om os
                <ul class="submenu">
                    <li>Hvem er vi?</li>
                    <li>FAQ</li>
                </ul>
            </li>
            <li>Kontakt os</li>
        </ul>
    </div>
</nav>
<h1>
    Her kan du udleje våddragter JaDetGodtDuHej
</h1>

<!-- Våddragt container -->
<div class="wetoversigt">
    <div class="wetbox" id="wet1">
        <h4>Første våddragt</h4>
        <button class="booking">Lej våddragt</button>
    </div>

</div>
<a href="../index.html"> her kommer du retur</a>

<div class="container">
    <div class="bottom">
        <img id="logo-bottom" src="images/image-logo.png" alt="logo-bottom">
        <img id="text-bottom" src="images/image-logo-text.png" alt="text-bottom">
    </div>

    <div class="section">
        <h2>Link</h2>
        <p>
            Forside <br>
            Om Surf’s Up <br>
            Udlejning <br>
            Køb og salg <br>
            Brugtmarked <br>
            Nytmarked <br>
        </p>
    </div>

    <div class="section">
        <h2>Kundeservice</h2>
        <p>
            Kontakt <br>
            Privatlivspolitik <br>
            Skadeanmeldelse <br>
            Vilkår og betingelser <br>
            Cookies <br>
        </p>
    </div>

    <div class="section">
        <h2>Om os</h2>
        <p>
            Surfervej 3, 5000 Odense C <br>
            Ring til os: 67495201 <br>
            Email: surfsup@gmail.com<br>
            Mandag-Torsdag: 07-18<br>
            Fredag: 07-16 <br>
            Lørdag: 08-18 <br>
            Søndag: Lukket<br>
        </p>
    </div>
</div>