@model List<ShoppingCartItem>;

<div id="shopping-cart">
    <h1>Indkøbskurv</h1>
        @foreach (var item in Model)
        {
            <div id="boardInformation">
                <table>
                    <tr>
                        <th>Id:</th>
                        <th>Product-navn: </th>
                        <th>Mængde:</th>
                    </tr>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                    </tr>
                </table>
            </div>
        }
        <a asp-controller="Shipping" asp-action="Index">Videre</a>
</div>
