@model List<ShoppingCartItem>;

<div id="shopping-cart">
    <h1>Indkøbskurv</h1>
        @foreach (var item in Model)
        {
            <div id="boardInformation">
                <table>
                    <tr>
                        <th>Id:</th>
                        <th>Product-navn: </th>
                        <th>Mængde:</th>
                    </tr>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Quantity</td>
                    </tr>
                </table>
            </div>
        }
        <a asp-controller="Shipping" asp-action="Index">Videre</a>
</div>
<!-- Booking datoer: Afhentning og levering -->
<div class="booking-dates">
    <h3>Vælg dine booking datoer</h3>

    <!-- Formular til afhentningsdato -->
    <form asp-action="Checkout" method="post">
        <label for="pickupBooking">Afhentningsdato:</label>
        <input type="date" id="pickupBooking" name="PickupDate" required />

        <!-- Formular til afleveringsdato -->
        <label for="returnBooking">Afleveringsdato:</label>
        <input type="date" id="returnBooking" name="ReturnDate" required />

        <!-- Indsend knap -->
        <button type="submit">Fortsæt til betaling</button>
    </form>
</div>
